<!doctype html>
<html lang="en">
  <head>
    <title>MAPPIN</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/map.css">
    <link rel="stylesheet" href="/styles/nav.css"/>

    <!-- Leaflet Script-->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  </head>
  <body>
    <% include ./partials/_nav %>
    <main>
      <div class="main-map">
        <div class="sidebar">
          <% if (addPoint) { %>
            <% include ./partials/_newPoint %>
          <% } else if (editPoint) { %>
            <% include ./partials/_editPoint %>
          <% } else if (mapObj) { %>
            <h1><%= mapObj.title %></h1>
            <h3><%= mapObj.description %></h3>
            <h4>Created By: <a href="/users/<%= mapObj.owner_id %>"><%= mapObj.name %></a></h4>
            <p>To see details, click on a point</p>

            <% if (loggedInUser) { %>
              <a href="/map/<%= mapObj.id %>/addpoint"><button id="addpoint">Add a new point!</button></a>
              <a href="/map/<%= mapObj.id %>/editpoint"><button id="editpoint">Edit a point!</button></a>
              <form action="/map/<%= mapObj.id %>/favourite" method="POST">
                <button type="submit" id="favorite">Favorite this map!</button>
              </form>
            <%} %>

            <h2>Favourite Count: <%= mapObj.faved %></h2>
          <% } else { %>
            <% include ./partials/_newMap %>
          <% } %>
        </div>
        <div id="mapid">
        </div>
      </div>
    </main>
  <script id="map-script" src='/scripts/map_leaflet.js'></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <% if(addPoint) { %>
    <script type="text/javascript" src="/scripts/add_point.js"></script>
  <% } %>
  <script type="text/javascript" src="/scripts/userDropdown.js"></script>
  </body>
</html>
